@inherits DisplayArticleBase

@if (Comments != null)
{
    <div class="main-article">

        <img alt="" src="img/@Article.ImagePath" @onclick="() => Navigation.NavigateTo(ArticleRoute)">
        <div class="inner-shadow" @onclick="() => Navigation.NavigateTo(ArticleRoute)"></div>
        <a href="@ArticleRoute" class="comments-box">@Comments.Count</a>

        <div class="article-text">
            <h1>
                <a href="art/@Article.Id">
                    @Article.Title
                </a>
            </h1>
            <p>
                @Article.IntroText
            </p>
        </div>

    </div>
}

