@inject NavigationManager Navigation

<div class="main-article">

    <img alt="" src="img/@Article.ImagePath" @onclick="Navigate">
    <div class="inner-shadow"  @onclick="Navigate"></div>
    <a href="" class="comments-box">432</a>

    <div class="article-text">
        <h1>
            <a href="art/@Article.Id">
                @Article.Title
            </a>
        </h1>
        <p>
            @Article.IntroText
        </p>
    </div>

</div>

@code {
    [Parameter]
    public ArticleModel Article { get; set; }

    protected void Navigate()
    {
        Navigation.NavigateTo($"art/{Article.Id}");
    }
}
